<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/GenerateTable.js"></script>
    <title></title>
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
        }
    </style>
</head>
<body>
    <div class="center">
        <h2 id="MainLbl">Log In Page</h2>
        <label id="Unlbl">Username: </label>
        <input type="text" id="Username"/>
        <br />
        <label id="Pwlbl">Password:  </label>
        <input type="text" id="Password"/>
        <br />
        <button id="LogIn">Log In</button>
        <button id="Register">Register</button>

        <script>

            $(document).ready(function() {
            //function test(){
              //  alert('hello');
            //}

                $("#LogIn").click(function() {
                     var model = {
                        Username: $("#Username").val(),
                        Password: $("#Password").val()
                     };

                     $.post("/api/LogIn/", model)
                        .done(function (data) {
                            console.log(data);
                            $("#Mainlbl").text(data);
                            window.location.href = "default/Inventory";
                        })
                        .fail(function() {
                            alert("error");
                        });
                });
            });

            //test();
            
        </script>
    </div>
</body>
</html>